{% extends 'base.html' %}
{% block content %}
<h1>Books</h1>

<table class="table table-striped">
<thead>
    <tr>
    <th>Name</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for author in object_list %}
    <tr>
    <td>{{ author.name }}</td>
    <td><a href="{% url "author_view" author.id %}">view</a></td>
    <td><a href="{% url "author_edit" author.id %}">edit</a></td>
    <td><a href="{% url "author_delete" author.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "author_new" %}">New</a>
{% endblock content %}